TO-BE-PROCESS/MAKE-Blueprint Exports/2.1 Load timesheets for the current month.json
{
    "name": "2.1 Load timesheets for the current month",
    "flow": [
        {
            "id": 22,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 590144,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "temp"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 1,
            "module": "google-drive:searchForFilesFolders",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1685632
            },
            "mapper": {
                "limit": "10",
                "select": "list",
                "folderId": "/17sg0Fc6ST-IMrG9GYlVe-FeVi_T1eJpM",
                "retrieve": "file",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Timesheets"
                            ]
                        },
                        "retrieve": {
                            "label": "Files"
                        },
                        "searchType": {
                            "label": "Empty"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (smartinvoicedigibpm@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "retrieve",
                        "type": "select",
                        "label": "Retrieve",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder",
                                "file_folder"
                            ]
                        }
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search",
                        "validate": {
                            "enum": [
                                "title",
                                "fulltext",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Choose a Folder"
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Month",
                "scope": "roundtrip",
                "value": "{{formatDate(addDays(setDate(now; 1); -1); \"MMMM\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Month",
                        "type": "any",
                        "label": "Month"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-sheets:getSheetContent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1763405
            },
            "mapper": {
                "range": "D4:J6",
                "select": "map",
                "sheetId": "{{26.Month}}",
                "spreadsheetId": "{{1.id}}",
                "includesHeaders": "{{false}}",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "includesHeaders": {
                            "mode": "edit"
                        },
                        "valueRenderOption": {
                            "mode": "edit"
                        },
                        "dateTimeRenderOption": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (smartinvoicedigibpm@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Spreadsheet and Sheet ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "fromAll",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    [
                        {
                            "name": "__ROW_NUMBER__",
                            "type": "number",
                            "label": "Row number"
                        },
                        {
                            "name": "__SPREADSHEET_ID__",
                            "type": "text",
                            "label": "Spreadsheet ID"
                        },
                        {
                            "name": "__SHEET__",
                            "type": "text",
                            "label": "Sheet"
                        },
                        {
                            "name": "0",
                            "type": "text",
                            "label": "D"
                        },
                        {
                            "name": "1",
                            "type": "text",
                            "label": "E"
                        },
                        {
                            "name": "2",
                            "type": "text",
                            "label": "F"
                        },
                        {
                            "name": "3",
                            "type": "text",
                            "label": "G"
                        },
                        {
                            "name": "4",
                            "type": "text",
                            "label": "H"
                        },
                        {
                            "name": "5",
                            "type": "text",
                            "label": "I"
                        },
                        {
                            "name": "6",
                            "type": "text",
                            "label": "J"
                        }
                    ]
                ],
                "advanced": true
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 7
            },
            "mapper": {
                "0": "{{7.`0`}}",
                "6": "{{7.`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Get Range Values [7]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                },
                "advanced": true
            },
            "flags": {
                "groupBy": "{{7.`__IMTLENGTH__`}}"
            }
        },
        {
            "id": 15,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 61331,
                "space": ""
            },
            "mapper": {
                "Name": "{{19.array[1].`0`}}",
                "FileId": "{{1.id}}",
                "project": "{{19.array[3].`0`}}",
                "JobTitle": "{{19.array[2].`0`}}",
                "TotalHours": "{{19.array[1].`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "timestructure"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "JobTitle",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "TotalHours",
                        "type": "number",
                        "label": null
                    },
                    {
                        "name": "FileId",
                        "type": "text",
                        "label": null
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{15.json}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1877,
                    "y": 6
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "default": 200,
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "advanced": true,
                        "editable": true,
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}